html, body {
    height: 100%;
}

footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #efefef;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}

.pushTop {
    height: 71px;
}

.push {
    height: 63px;
}

/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 0px;
}

footer ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}

#footerCopyright {
    font-size: 12px;
    color: #666666;
    padding-top: 10px;
}