body {
    padding-top: 30px;
}

.form {
    margin: 0 auto;
}

footer{
    margin-top: 40px;
}

footer .title {
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
}

.errors li{
    color: red;
}